<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="profile.component.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<app-header></app-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Информация о пользователе</h5>
                </div>
                <div class="card-body">
                    <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th class="left-col">Фото профиля</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="right-col" rowspan="2">
                                <img src="../../../assets/images/user.png" alt="" title="" width="150" height="150"></td>
                        </tr>
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <section class="w-100 d-flex justify-content-center">
                        <form
                                style="width: 15rem;"
                                [formGroup]="profileForm"
                                (ngSubmit)="updateUser()">
                            <!-- Firstname input -->
                            <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                                <label class="form-label" for="firstName" style="margin-left: 0px;">Имя</label>
                                <input
                                        formControlName="firstName"
                                        type="text" id="firstName"
                                        class="form-control form-control-lg"
                                        placeholder="Имя"
                                        [ngClass]="{'is-invalid' : profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].touched}">
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 70.4px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- Lastname input -->
                            <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                                <label class="form-label" for="lastName" style="margin-left: 0px;">Фамилия</label>
                                <input
                                        formControlName="lastName"
                                        type="text" id="lastName"
                                        class="form-control form-control-lg"
                                        placeholder="Фамилия"
                                        [ngClass]="{'is-invalid' : profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].touched}">
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 70.4px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                                <label class="form-label" for="email" style="margin-left: 0px;">Адрес почты</label>
                                <input
                                        formControlName="email"
                                        type="email" id="email"
                                        class="form-control form-control-lg"
                                        placeholder="Адрес почты"
                                        [ngClass]="{'is-invalid' : profileForm.controls['email'].invalid && profileForm.controls['email'].touched}">
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 88.8px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- BirthDate input -->
                            <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                                <label class="form-label" for="email" style="margin-left: 0px;">Дата рождения</label>
                                <input
                                        formControlName="birthDate"
                                        type="date" id="birthDate"
                                        class="form-control form-control-lg"
                                        placeholder="Дата рождения"
                                        [ngClass]="{'is-invalid' : profileForm.controls['birthDate'].invalid && profileForm.controls['birthDate'].touched}">
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 88.8px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- Gender input -->
                            <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                                <label class="form-label" style="margin-left: 0px;">Пол</label>
                                <select formControlName="gender"
                                        class="form-control"
                                        [ngClass]="{'is-invalid' : profileForm.controls['gender'].invalid && profileForm.controls['gender'].touched}">
                                    <option value="Male">Мужской</option>
                                    <option value="Female">Женский</option>
                                    <option value="Another">Другое</option>
                                </select>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 88.8px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
                                <label class="form-label" for="form2Example2" style="margin-left: 0px;">Пароль</label>
                                <input
                                        formControlName="password"
                                        type="password" id="form2Example2"
                                        class="form-control form-control-lg"
                                        placeholder="Пароль"
                                        [type] = "showPass ? 'text' : 'password'"
                                        [ngClass]="{'is-invalid' : profileForm.controls['password'].invalid && profileForm.controls['password'].touched}">
                                <input type="checkbox"
                                       [(ngModel)]="showPass"
                                       [ngModelOptions]="{standalone: true}"
                                       id="togglePassword"
                                       class="form-check-input"
                                       style="margin-left: 6px ">
                                <label for="togglePassword" style="margin-left: 20px">Показать пароль</label>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                    <div class="form-notch-middle" style="width: 64.8px;"></div>
                                    <div class="form-notch-trailing"></div>
                                </div>
                            </div>

                            <!-- 2 column grid layout for inline styling -->
                            <div class="row mb-1">
                                <!-- Submit button -->
                                <button type="submit" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-primary btn-block mb-2" data-mdb-button-initialized="true">Редактировать профиль</button>
                            </div>
                            <div class="row mb-1">
                                <!-- Exit button -->
                                <button type="button" (click)="logOut()" class="btn btn-danger btn-block" id="exit-profile-btn">Выход из профиля</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h2 class="text-center">История заказов</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Дата</th>
                    <th>Статус</th>
                    <th>Общая сумма</th>
                </tr>
                </thead>
                <tbody id="order-history">
                <!-- Здесь будут добавлены данные о заказах -->
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>