<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="shortcut icon" href="../images/icon.png" />
    <link rel="stylesheet" href="cart.component.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../sections/scripts.js"></script>
</head>
<body>
<header class="site-header">
    <div class="site-identity">
        <h1><a href="pizza.html">Pizzeria</a></h1>
        <img src="../images/icon.png" height="40" width="40" />
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="profile.html">Профиль</a></li>
            <li><a href="cart.html">Корзина</a></li>
        </ul>
    </nav>
</header>
<div class="cartcontainer">
    <h1>Корзина заказа</h1>

    <!-- Список выбранных пицц -->
    <div class="cart-item">
        <img class="pazza-img-cart" src="../images/margaritta.jpg" alt="Пицца Маргарита">
        <div class="cart-pizza-name">
            <h2>Маргарита</h2>
            <div class="size-cart">Средняя</div>
            <div class="priсe-cart">20 руб</div>
            <button type="button" class="delete-btn">Удалить</button>
        </div>
    </div>
    <div class="cart-item">
        <img class="pazza-img-cart" src="../images/margaritta.jpg" alt="Пицца Маргарита">
        <div class="cart-pizza-name">
            <h2>Маргарита</h2>
            <div class="size-cart">Большая</div>
            <div class="priсe-cart">25 руб</div>
            <button type="button" class="delete-btn">Удалить</button>
        </div>
    </div>

    <!-- Итоговая сумма -->
    <div class="total">
        <p>Итого: 45 руб</p>
    </div>

    <!-- Форма для ввода данных -->
    <form class="orderform" action="/submit-order" method="post">

        <button class="orderbtn" type="submit">Заказать</button>
    </form>
</div>
</body>
</html>