<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="profile.component.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header class="site-header">
    <div class="site-identity">
        <h1><a href="pizza.html">Pizzeria</a></h1>
        <img src="../images/icon.png" height="40" width="40" />
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="profile.html">Профиль</a></li>
            <li><a href="cart.html">Корзина</a></li>
        </ul>
    </nav>
</header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Информация о пользователе</h5>
                </div>
                <div class="card-body">
                    <table>
                        <thead>
                        <tr>
                            <th class="left-col">Фото профиля</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="left-col" rowspan="2">
                                <img src="../images/user.png" alt="" title="" width="150" height="150"></td>
                            <td class="right-col">
                                <button class="btn btn-primary" id="edit-photo-btn">Изменить фото</button>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Имя:</strong>
                            <input class="form-control" type="text" id="user-name">
                        </li>
                        <li class="list-group-item">
                            <strong>Email:</strong>
                            <input  class="form-control" type="email" id="user-email">
                        </li>
                        <li class="list-group-item">
                            <strong>Телефон:</strong>
                            <input class="form-control" type="tel" id="user-phone">
                        </li>
                        <li class="list-group-item">
                            <strong>Пароль:</strong>
                            <input class="form-control" type="password" id="user-password">
                            <input type="checkbox" id="togglePassword">
                            <label for="togglePassword">Показать пароль</label>
                        </li>
                        <button class="btn btn-primary mt-3" id="edit-profile-btn">Редактировать профиль</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h2 class="text-center">История заказов</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Дата</th>
                    <th>Статус</th>
                    <th>Общая сумма</th>
                </tr>
                </thead>
                <tbody id="order-history">
                <!-- Здесь будут добавлены данные о заказах -->
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>