<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Панель управления пиццерией</title>
    <link rel="stylesheet" href="admin.component.css" />
    <link rel="shortcut icon" href="/images/icon.png" />
</head>
<body>
<div class="header">
    <h1>Панель Администратора</h1>
    <a href="p" class="home-link">На главную</a>
</div>
<main>
    <section id="products">
        <h1>Продукты</h1>
        <button id="add-product-button">Добавить продукт</button>
        <br><br>
        <table id="products-table">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Изображение</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <!-- Заполняется динамически -->
            <tr ng-repeat="item in Cart">
                <td>Маргарита</td>
                <td>Lorem ipsum</td>
                <td>25 руб</td>
                <td><img src="../images/margaritta.jpg" alt="Пицца" class="pizza-img"></td>
                <td>  <button id="edit-product-button">Редактировать продукт</button>
                    <br><br>
                    <button id="delete-product-button">Удалить продукт</button></td>
            </tr>
            </tbody>
        </table>
    </section>
    <section id="categories">
        <h1>Категории</h1>
        <button id="add-category-button">Добавить категорию</button>
        <br><br>
        <table id="categories-table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <!-- Заполняется динамически -->
            <td>Пиццы</td>
            <td>
                <button id="edit-category-button">Редактировать категорию</button>
                <br><br>
                <button id="delete-category-button">Удалить категорию</button>
            </td>
            </tbody>
        </table>
    </section>
    <section id="orders">
        <h1>Заказы</h1>
        <button id="add-order-button">Добавить заказ</button>
        <table id="orders-table">
            <thead>
            <tr>
                <th>Клиент</th>
                <th>Почта</th>
                <th>Номер телефона</th>
                <th>Номер заказа</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <td>Ivanov Ivan</td>
            <td>ivan@mail.ru</td>
            <td>+67872364</td>
            <td>245</td>
            <td><button id="edit-order-button">Редактировать заказ</button>
                <br><br>
                <button id="delete-order-button">Удалить заказ</button></td>
            <!-- Заполняется динамически -->
            </tbody>
        </table>
    </section>
</main>
<script src="script.js"></script>
</body>
</html>
